.boxshadow_template_one{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08);
}

.horizoontal-tab{
    margin-bottom: 0px !important;
}

.mr-lr-10{
    margin-right: 10px;
    margin-left: 10px;
}

.mr-tb-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.mr-t-20-imp{
    margin-top: 20px !important;
}