.cart-container{
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 10px;
    .item-list-container{
        width: 60%;
        padding: 10px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .price-details-container{
        width: 40%;
        padding: 10px;
        height: 100%;
        .price-section{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 20px 0;
        }
        .price-heading{
            display: block;
            text-transform: uppercase;
            padding: 13px 24px;
            font-weight: 500;
            color: #878787;
            min-height: 47px;
            border-radius: 2px 2px 0 0;
            border-bottom: 1px solid #f0f0f0;
            font-size: 16px;
        }
        .price-wrapper{
            padding: 0 24px;
            border-bottom: 1px solid #f0f0f0;
            font-size: 16px;
            font-weight: 400;
        }
        .amount{
            font-weight: 500;
        }
        .total-price{

        }
        .discounted-price{
            .discount-amount{
                color: #388e3c;
            }
        }
        .final-price{
            font-weight: 500;
            font-size: 18px;
        }
        .place-order-button-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 16px 24px;
            .insufficient-balance-message{
                padding: 0px 0 12px;
                font-size: 16px;
                color: #d4a006;
                font-weight: 500;
            }
        }
        .place-order-button{
            width: 100%;
            background: #fb641b;
            box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
            border: none;
            color: #fff;
            padding: 16px 30px;
            min-width: 250px;
            text-transform: uppercase;
            border-radius: 2px;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
            font-size: 16px;
            font-weight: 500;
            position: relative;

            &:disabled{
                background: #f2c3ab;  
            }
        }
    }

    .cart-item-container{
        // margin-bottom: 20px;
        height: 150px;
        border: 1px solid #e0e0e0;
        padding: 20px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        position: relative;
        // border-bottom: 1px solid red;

        .product-image{
           height: 100%;
           width: 75px;
           // border: 1px solid red;
           display: flex; 
           align-items: center;
           img{
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
           }
        }

        .product-description{
            height: 100px;
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 5px;
            flex-grow: 1;
            .product-name{
                font-weight: 600;
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .product-description{
                font-weight: 400;
                display: block;
                color: #878787;
                font-size: 14px;
                height: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .seller-info{
                display: block;
                color: #878787;
                font-size: 14px;
                height: 20px;
            }
        }
        
        .price{
            .actual-price{
                text-decoration: line-through;
                font-size: 14px;
                margin-right: 10px;
            }
            .discounted-price{
                font-size: 18px;
                font-weight: 500;
                color: #212121;
                display: inline-block;
                margin-right: 8px;
            }
            .discount-rate{
                font-weight: 500;
                color: #388e3c;
                font-size: 14px;
                margin-right: 10px;
            }
        }

        .quantity-control-container{
            // border: 1px solid red;
            height: 100%;
            width: 200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            .delete-item{
                position: absolute;
                right: 0px;
                top: 0px;
                color: #e54545;
                font-size: 20px;
            }
            
            .decrese-quantity, .increase-quantity{
                width: 28px;
                height: 28px;
                background: linear-gradient(#fff,#f9f9f9);
                display: inline-block;
                border: 1px solid #c2c2c2 !important;
                cursor: pointer;
                font-size: 16px;
                border-radius: 50%;
                padding-top: 1px;
                line-height: 1;
            }
            .input-qty{
                display: flex;
                padding: 3px 6px;
                width: calc(100% - 60px);
                height: 100%;
                width: 46px;
                height: 28px;
                border-radius: 2px;
                background-color: #fff;
                border: 1px solid #c2c2c2;
                margin: 0 5px;
                align-items: center;
                input{
                    border: none !important;
                    width: 100%;
                    font-size: 14px;
                    font-weight: 500;
                    vertical-align: middle;
                    text-align: center;
                    &:active{
                        border: none !important;
                    }
                }
            }
            .increase-quantity{

            }
        }
    }
}